@import 'common';

.order-list {
	padding: 0 16px;
	overflow: hidden;
}

.order-item {
	overflow: hidden;
	border-bottom: 1px solid #e6e6e6;
	margin-top: 16px;
	padding-bottom: 8px;
}

.order-wrap {
	float: left;
	width: 33.33%;
	margin-top: 8px;
	text-align: center;
}

.order-column {
	font-size: 14px;
}

.order-text {
	color: #9a9a9a;
	font-size: 12px;
	margin-top: 2px;
}
