@import 'common';

body {
	padding-bottom: 68px;
}

.recharge-list {
	padding: 0 16px;
	overflow: hidden;
}

.recharge-item {
	overflow: hidden;
	border-bottom: 1px solid #e6e6e6;
	padding: 16px 72px 16px 0;
	position: relative;
	&:last-child {
		border-bottom: none;
	}
}

.recharge-time {
	font-size: 13px;
    color: #828282;
}

.recharge-amount {
	color: #ff9800;
	margin-top: 4px;
}

.recharge-right {
	position: absolute;
    right: 0;
    top: 0;
    width: 72px;
}

.recharge-btn {
	background-color: orange;
    color: #fff;
    display: block;
    text-align: center;
    padding: 2px 0;
    border-radius: 2px;
    margin-top: 23px;
}

.complete {
	font-size: 16px;
    margin-top: 26px;
    text-align: right;
	color: #4caf50;
}

.back-wrap {
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	text-align: center;
	padding: 10px 0;
	background-color: rgba(255, 255, 255, 0.9);
}

.back-link {
	border: 1px solid #ff5000;
	border-radius: 24px;
	color: #ff5000;
	font-size: 18px;
	outline: 0;
	width: 80%;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	padding: 10px 0;
}
